html,body{
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;

}
/* 首页 */
.header{
	width: 100%;
	height: 40px;
	background-color: #333333;
	position: fixed;
	top: 0 ;
	z-index: 100;
}
.header .nav1{
	width: 1240px;
	height: 40px;
	margin: 0 auto;
}
.nav1{
	display: flex;
	justify-content: space-between;
}
.nav1 ul li a{
	color: #ffffff;
	font-size: 13px;
}
.nav1 .box1 ul{
	line-height: 40px;
	display: flex;
}
.nav1 .box1 ul li{
	margin-right: 30px;
}

.nav1 .box2 ul{
	line-height: 40px;
	display: flex;
}
.nav1 .box2 ul li{
	margin-left: 30px;
}
.nav1 .box2 ul li:nth-child(4) {
	width: 40px;
	height: 40px;
	background: url(../images/gouwudai_03.jpg) no-repeat center center  ;
	background-size: 60%;
	cursor: pointer;
}

/* 导航 */
.daohang{
	background-color: #ffffff;
}
.nav {
	width: 1240px;
	height: 102px;
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;
}
.nav>.box1{
	width: 1180px;
	height: 36px;
	margin-top: 30px;
	display: flex;
}
.nav .box1>span{
	margin-right: 80px;
}
.nav .box1 .div1{
	width: 500px;
	height: 36px;

}
.nav .box1 .div1 ul{
	display: flex;
}
.nav .box1 .div1 ul li{
	width: 130px;

}
.nav .box1 .div1 ul li a{
	font-size: 23px;
	color: #333333;
}
.nav .box1 .div2{
	width: 423px;
	height: 36px;
	border-radius: 20px;
	border: 1px solid #cccccc;
    display: flex;
    margin-left: 50px;
}
.nav .box1 .div2 input{
	font-size: 16px;
	width: 300px;
	height: 24px;
	margin-top: 4px;
	margin-left: 40px;
	background-color: #ffffff;
	border: 0px;
}
.nav .box1 .div2 span{
	width: 24px;
	height: 24px;
	margin-top: 6px;
	margin-left: 5px;
	cursor: pointer;
}
.nav .box2{
	position: relative;
}
.nav .box2 ul{
	position: absolute;
	right: 120px;
	margin-top: 8px;
}

.nav .box2 ul li{
	float: left;
	font-size: 10px;
	margin-right: 10px;
}
.nav .box2 ul li a{
	color: #666666;
}

/* 分类列表 */
.lista{
    background-color: #ffffff;
    border-top: 1px solid black;

}
.list{
    width: 1240px;
    margin: 0 auto;
    background-color: #ffffff;
}
.list>.list-but{
    width: 1240px;
}
.list>.list-but>.cateOneBox{
	height: 150px;
	display: flex;
}
.list>.list-but>.cateOneBox>.left{
	width: 40px;
	height: 150px;
	margin-top: 10px;
}
.list>.list-but>.cateOneBox>.right{
	width: 1200px;
	height: 150px;
	display: flex;
	flex-wrap: wrap;
}

.list>.list-but>.sortBox{
	height: 70px;
	border-top: 1px solid #cccccc;
	display: flex;
}
.list>.list-but>.sortBox>.left{
	width: 40px;
	height: 70px;
	display: flex;
	align-items: center;
}
.list>.list-but>.sortBox>.right{
	width: 1200px;
	height: 70px;
	display: flex;
	align-items: center;
}


.list-but div>.right>span{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 5px 10px;
	margin: 0 3px;
	cursor: pointer;
	border-radius: 3px;
}
.list-but div>.right>span.active,
.list-but div>.right>span:hover{
	background-color: pink;
	color: #fff;
}



/* 列表 */
.liebiao{
    height: 1350px;
    background-color: #f0f0f0;
}
.liebiao>.liebiao-cen{
    width: 1240px;
    height: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.liebiao>.liebiao-cen>.list-box{
    width: 23%;
    height: 330px;
    background-color: #ffffff;
    margin-top: 25px;
    text-align: center;
    box-sizing: border-box;
}
.liebiao-cen>.list-box>img{
    width: 165px;
    height: 165px;
    margin-top: 30px;
}
.liebiao-cen>.list-box>.aa{
    color: #333333;
}
.liebiao-cen>.list-box>.aa>.title{
    display: block;
	margin-left: 20px;
	margin-top: 10px;
    margin-right: 20px;
    width: 245px ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.liebiao-cen>.list-box>.aa>.price{
    display: block;
    margin-top: 10px;
    color: red;
}
.liebiao-cen>.list-box>.join{
    display: block;
    width: 90px;
    height: 25px;
    color: red;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 20px;
    display: none;
}

.liebiao-cen>.list-box:hover{
    border: 1px solid red;
}
.liebiao-cen>.list-box:hover .join{
    display: block;
}


/* 分页 */
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .pagination a {
	padding: 0 5px;
	border: 1px solid #333;
	margin: 0 5px;
  }





/* 尾部 */
.top-footer{
	width: 100%;
	height: 360px;
	background-color: #ffffff;
}
.top-footer>.cen-footer{
	width: 1240px;
	height: 360px;
	margin: 0 auto;
	display: flex;
	padding-top: 60px;
	box-sizing: border-box;
}
.top-footer>.cen-footer>.box1{
	width: 265px;
	height: 245px;
}
.cen-footer>.box1>.p1{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
}
.cen-footer>.box1>.p2{
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 20px;
}
.cen-footer>.box1>.footers{
	border-top: 1px solid black;
	padding-top: 20px;
}
.cen-footer>.box1>.footers>span{
	margin-right: 20px;
}


.cen-footer>.box2{
	width: 150px;
	height: 230px;
	margin-left: 70px;
}
.cen-footer>.box2>p{
	font-size: 16px ;
	font-weight: 600;
	margin-bottom: 25px;

}
.cen-footer>.box2>a{
	display: block;
	font-size: 12px;
	color: #666666;
	line-height: 1;
}

.cen-footer>.box3{
	width: 150px;
	height: 230px;
	margin-left: 60px;
}
.cen-footer>.box3>p{
	font-size: 16px ;
	font-weight: 600;
	margin-bottom: 25px;

}
.cen-footer>.box3>a{
	display: block;
	font-size: 12px;
	color: #666666;
	line-height: 1;
}

.cen-footer>.box4{
	width: 128px;
	height: 230px;
	margin-left: 50px;
}
.cen-footer>.box4>p{
	font-size: 16px ;
	font-weight: 600;
	margin-bottom: 25px;
}
.cen-footer>.box4>a{
	display: block;
	width: 128px;
	height: 128px;
}
.cen-footer>.box4>a>img{
	width: 100%;
	height: 100%;

}
.cen-footer>.box5{
	width: 300px;
	height: 230px;
	border-left: 1px solid black;
	padding-left: 10px;
	margin-left: 60px;
	text-align: center;
}
.cen-footer>.box5>.p1{
	font-weight: 600;
}
.cen-footer>.box5>.p2{
	font-weight: 600;
	font-size: 22px;
	margin-top: 20px;
}
.cen-footer>.box5>.p3{
	color: #6f6f6f;
	font-size: 12px;
}

.but-footer{
	width: 100%;
	height: 200px;
	background-color: #333333;
}
.but-footer>.cen-footer{
	width: 1240px;
	height: 200px;
	margin: 0 auto;
}
.but-footer>.cen-footer>.box1{
	width: 1240px;
	height: 80px;
	border-bottom: 1px solid #dcdeeb;
	text-align: center;
	line-height: 80px;
	display: flex;
	justify-content: space-evenly;
}
.but-footer>.cen-footer>.box1>a{
	color: #ffffff;
	font-size: 24px;
}
.but-footer>.cen-footer>.box1>a>img{
	margin-right: 5px;
	vertical-align: text-bottom;
}
.but-footer>.cen-footer>.box0{
	width: 1240px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
}
.but-footer>.cen-footer>.box0>p:nth-child(3){	
	font-size: 11px;
	color: #999999;
}
